div#header
	a(href='/' style='margin-right:5px') Home
	| 
	a(href='/profile' style='margin-right:5px') Profile
	| 
	a(href='/login' style='margin-right:5px') Sign In/Up
	| 
	a(href='/search' style='margin-right:5px') Search
	| 
	a(href='/contribute' style='margin-right:5px') Contribute
	| 