html
  head
    title=title
  body
    include ../partials/header

    form(method='POST' action='/login')
      p
        input(type='text' placeholder='username' name='username')
        br  
        input(type='text' placeholder='password' name='password') 
        br
      button(type='submit' onclick='createUser()') Create Account
      br
      button(type='submit' value='loginUser()') Log In
    
